/*===============================first section===================*/
.contact-home-top{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    position: relative;
    justify-content: center;
    max-width: 1400px;
    margin-top: 3%;
  }
  
  .contact-home-top .formbg {
    padding: 20px;
    margin: 0px auto;
    width: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }

 .formbg {
    padding: 20px;
    margin: 0px auto;
    width: 100%;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }
  
.field{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    margin: 0 auto;
  }
  
.input-data{
    width: 100%;
  }
  
.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: #53292b;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  
  
select{
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: #53292b;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  
  
 textarea{
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: #53292b;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
  
  
.input-data label{
    display: flex;
    width: 100%;
    transition: 0.3s ease all;
  }
  
  /* Style label when input inside .input-data is focused */
  .input-data:focus-within label {
    font-size: 12px;
  }
  
 .field .formSubmit{
    font-size: 16px;
    padding: 10px 15px;
    background:#53292b;
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
  }
  
  .field .formSubmit:hover{
    background:#613235;
    cursor: pointer;
  }

  .contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.contactInfo .photoDisplay{
  height: 100%;
}

.contactInfo .contactAddress{
  width: 100%;
  padding-left: 10px;
  border-left: 1px solid #53292b;
  border-bottom: 1px solid #53292b;
  margin-bottom: 5px;
}

.contactInfo .section{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start; 
  width: 100%;
  gap: 5px;
}


.contactInfo h3{
  font-size: 17px;
  font-weight: 400;
  color: #53292b;
  font-family: poppins;
  text-transform: capitalize;
  margin: 0;
}

.contactInfo p{
  font-size: 17px;
  font-weight: 300;
  color: #53292b;
  font-family: poppins;
  text-transform: capitalize;
}
  
  @media (max-width: 1024px) {

    .CONTACT-home-top {
        display: flex;
        flex-direction: column;
        padding-block: 2rem;
        width: min(95%, 70rem);
      }

      .contactInfo .photoDisplay{
        width: 100%;
      }

      .contactInfo .contactAddress{
        padding-left: 0px;
        border-left: none;
        border-bottom: none;
        margin-bottom: 5px; 
      }

      .contactInfo .section{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content:center; 
        justify-items: center;
        align-content: center;
        width: 100%;
        gap: 5px;
      }

}

/*------------------------------first section--------------------*/