.plant-home-top{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    position: relative;
    justify-content: center;
    max-width: 1400px;
    border-bottom: solid 2px #53292b;
}

.sectionInfo{
 background: #ffffff;
}

.sectionHeading h2{
    font-size: 30px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

.section-text p{
    font-weight: 100;
    text-align:justify;
    padding: 10px;
}

.sectionInfo ul {
    font-weight: 100;
    padding: 2rem;
}

.sectionInfo ul li{
    font-weight: 100;
    padding-bottom: 1rem;
}

/*========================== right section ==========================*/

.sectionDisplay{
    background: #ffffff;
    width: 100%;
}

.sectionDisplay .doorWrapper{
    gap: 0px;
    height: 100%;
    width: 100%;
} 

.sectionDisplay .buttonWrapper{
    display: flex;
    justify-content:flex-end;
    width:100% ;
    background: none;
    text-transform: none;
    height: 40px;
    font-size: 10px;
    font-weight: 200;
}

.sectionDisplay .tab-button{
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 0px;
    color: #53292b;
    text-transform: none;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.sectionDisplay .tab-button:hover {
    background: #53292b;
    color: #ffffff;
  }

.sectionDisplay .tab-button.active {
    background: #53292b;
    color: #ffffff;
  }


.sectionDisplay .contentWrapper1{
    position: relative;
    overflow: hidden; 
    border: solid 1px #53292b;
    height: 100%;
    width: 100%;
}

.sectionDisplay .doorContent1 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    padding: 10px 10px;
    pointer-events: none;
  }
  
.sectionDisplay .doorContent1.active {
    opacity: 1;
    visibility: visible;
    position: relative;
    pointer-events: auto;
  }

  @media (max-width: 1024px) {

    .plant-home-top {
        display: flex;
        flex-direction: column;
        padding-block: 2rem;
        width: min(95%, 70rem);
      }
}

/*==========plant logo=============*/


.sectionDisplay .animLogo {
  position: relative;
  width: 410px;  /* Width of the full logo when assembled */
  height: 250px;
  margin: 0 auto;
}

.plantLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.part {
  position: absolute;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}


.animLogo .part.mdlm1 { top: 0; left: 0px; }
.animLogo .part.mdlm2 { top: 0; left: 0px; }
.animLogo .part.mdld  { top: 0; left: 140px; }
.animLogo .part.mdll1 { top: 0; left: 245px; }
.animLogo .part.mdll2 { top: 0; left: 245px; }



/* Slide from left */
.mdlm1 {
  transform: translateY(50px);
  animation-name: slideInLeft;
  animation-delay: 0.1s;
}

/* Slide from top */
.mdlm2 {
  transform: translateY(-50px);
  animation-name: slideInTop;
  animation-delay: 0.2s;
}

/* Slide from bottom */
.mdld {
  transform: translateX(50px);
  animation-name: slideInBottom;
  animation-delay: 0.3s;
}

/* Slide from right */
.mdll1 {
  transform: translateY(-50px);
  animation-name: slideInRight;
  animation-delay: 0.4s;
}

/* Another top slide */
.mdll2 {
  transform: translateX(50px);
  animation-name: slideInTop;
  animation-delay: 0.5s;
}

@keyframes slideInLeft {
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  to {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  to {
    transform: translateY(0);
  }
}

.sectionDisplay .animLogo2 {
  position: relative;
  width: 410px;  /* Width of the full logo when assembled */
  height: 60px;
  margin: 0 auto;
}

.animLogo2 .part.doorl { top: 0; left: 50px; }
.animLogo2 .part.doord { top: 0; left: 50px; }
.animLogo2 .part.doorr  { top: 0; left: 50px; }

/* Slide from right */
.doorl {
  transform: translateX(-50px);
  animation-name: slideInRight;
  animation-delay: 0.1s;
}

/* Slide from bottom */
.doord {
  transform: translateY(50px);
  animation-name: slideInBottom;
  animation-delay: 0.1s;
}

/* Slide from left */
.doorr {
  transform: translateX(50px);
  animation-name: slideInLeft;
  animation-delay: 0.1s;
}


@keyframes slideInLeft {
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  to {
    transform: translateY(0);
  }
}

/*========================== PLANT FORM ==========================*/


.doorWrapper .formbg {
  margin: 0px auto;
  width: 100%;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.doorWrapper .field{
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin: 0 auto;
}

.doorWrapper .input-data{
  width: 100%;
}

.doorWrapper .field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: #53292b;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


.doorWrapper  select{
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: #53292b;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


.doorWrapper  textarea{
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: #53292b;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


.doorWrapper .input-data label{
  display: flex;
  width: 100%;
  transition: 0.3s ease all;
}

/* Style label when input inside .input-data is focused */
.input-data:focus-within label {
  font-size: 12px;
}

.doorWrapper .field .formSubmit{
  font-size: 16px;
  padding: 10px 15px;
  background:#53292b;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
}

.doorWrapper .field .formSubmit:hover{
  background:#613235;
  cursor: pointer;
}

/*========================== PLANT FORM ==========================*/
  

