.intro{
  align-items: center;
}
.plant-home-top{
  margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    position: relative;
    justify-content: center;
    max-width: 1400px;
}

.sectionInfo{
 background: #ffffff;
}

.sectionHeading h2{
    font-size: 30px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
  }

.section-text p{
    font-weight: 100;
    text-align:justify;
    padding: 10px;
}

.sectionInfo ul {
    font-weight: 100;
    padding: 2rem;
}

.sectionInfo ul li{
    font-weight: 100;
    padding-bottom: 1rem;
}

@media (max-width: 1024px) {
  .sectionHeading h2{
    margin: auto;
    width: 100%;
    text-align: center;
  }
}

/*========================== right section ==========================*/



/*==========plant logo=============*/


.sectionDisplay .animLogo {
  position: relative;
  width: 410px;  /* Width of the full logo when assembled */
  height: 250px;
  margin: 0 auto;
}

.plantLogo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.part {
  position: absolute;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}


.animLogo .part.mdlm1 { top: 0; left: 0px; }
.animLogo .part.mdlm2 { top: 0; left: 0px; }
.animLogo .part.mdld  { top: 0; left: 140px; }
.animLogo .part.mdll1 { top: 0; left: 245px; }
.animLogo .part.mdll2 { top: 0; left: 245px; }



/* Slide from left */
.mdlm1 {
  transform: translateY(50px);
  animation-name: slideInLeft;
  animation-delay: 0.1s;
}

/* Slide from top */
.mdlm2 {
  transform: translateY(-50px);
  animation-name: slideInTop;
  animation-delay: 0.2s;
}

/* Slide from bottom */
.mdld {
  transform: translateX(50px);
  animation-name: slideInBottom;
  animation-delay: 0.3s;
}

/* Slide from right */
.mdll1 {
  transform: translateY(-50px);
  animation-name: slideInRight;
  animation-delay: 0.4s;
}

/* Another top slide */
.mdll2 {
  transform: translateX(50px);
  animation-name: slideInTop;
  animation-delay: 0.5s;
}

@keyframes slideInLeft {
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  to {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  to {
    transform: translateY(0);
  }
}

.sectionDisplay .animLogo2 {
  position: relative;
  width: 410px;  /* Width of the full logo when assembled */
  height: 60px;
  margin: 0 auto;
}

.animLogo2 .part.doorl { top: 0; left: 50px; }
.animLogo2 .part.doord { top: 0; left: 50px; }
.animLogo2 .part.doorr  { top: 0; left: 50px; }

/* Slide from right */
.doorl {
  transform: translateX(-50px);
  animation-name: slideInRight;
  animation-delay: 0.1s;
}

/* Slide from bottom */
.doord {
  transform: translateY(50px);
  animation-name: slideInBottom;
  animation-delay: 0.1s;
}

/* Slide from left */
.doorr {
  transform: translateX(50px);
  animation-name: slideInLeft;
  animation-delay: 0.1s;
}


@keyframes slideInLeft {
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  to {
    transform: translateX(0);
  }
}

@keyframes slideInBottom {
  to {
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .sectionDisplay .plantLogo{
    display: none;
  }
}

/*===============================second section===================*/

.secondSectionDisplay{
  max-width: 1400px;
  margin: auto;
}

.secondSectionDisplay .accordion{
  width: 100%;
}


.secondSectionDisplay .plantBrands{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  gap:10%;
}

.secondSectionDisplay .brands{
  max-width: 350px;
  min-height: 150px;
  padding: 5px;
}

.secondSectionDisplay h4{
  font-size: 20px;
  font-weight: 300;
  min-height: 60px;
  display: flex;
  text-align: center;
  background: #53292b;
  color: #dbd7bc;
  justify-content: center;
  align-items: center;
}

.secondSectionDisplay .brandInfo{
  display: flex;
}

.secondSectionDisplay p{
  font-weight: 300;
}

.secondSectionDisplay .brandLogo{
  max-width: 180px;
  max-height: 100px;
}

.secondSectionDisplay .brandLogo img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}


@media (max-width: 1024px) {

  .plant-home-top {
      display: flex;
      flex-direction: column;
      padding-block: 2rem;
      width: min(95%, 70rem);
      border-bottom: none;
    }
.plant-home-top .sectionDisplay{
  display: none;
}

.secondSectionDisplay .accordion-link{
  background:#53292b ;
}
.secondSectionDisplay h1{
  color: #ffffff;

}

.secondSectionDisplay h4{
  color: #ffffff;
}
}

/*------pland Accordeion-------/*

/*===============================second section===================*/


/*=====================3rd Section====================*/
.thirdSectionDisplay{
max-width: 1400px;
margin: auto;
}

/*========================== PLANT FORM ==========================*/

.thirdSectionDisplay .formbg {
  padding: 20px;
  margin: 0px auto;
  width: 100%;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

.thirdSectionDisplay .field{
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin: 0 auto;
}

.thirdSectionDisplay .input-data{
  width: 100%;
}

.thirdSectionDisplay .field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: #53292b;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


.thirdSectionDisplay  select{
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: #53292b;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


.thirdSectionDisplay  textarea{
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: #53292b;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}


.thirdSectionDisplay .input-data label{
  display: flex;
  width: 100%;
  transition: 0.3s ease all;
}

/* Style label when input inside .input-data is focused */
.input-data:focus-within label {
  font-size: 12px;
}

.thirdSectionDisplay .field .formSubmit{
  font-size: 16px;
  padding: 10px 15px;
  background:#53292b;
  cursor: pointer;
  color: #ffffff;
  border-radius: 5px;
}

.thirdSectionDisplay .field .formSubmit:hover{
  background:#613235;
  cursor: pointer;
}

/*========================== PLANT FORM ==========================*/
  

