@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    padding-top: 9rem;
}



/*---------------========================NAVBAR================-----------------*/
/* Navbar Main Styling */
.navbar2 {
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 7rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
}


/* Navbar Inner Layout */
.navbar2 .nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.navbar2 .navTop{
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin: 0 auto;
  height: 2rem;
  width: 100%;
  padding: 5px 20px ;
  background: #dbd7bc;
}

.upper-menu{
  list-style: none; 
  gap: 15px;
  text-decoration: none;
}

.upper-menu .menu-top a{
  text-decoration: none;
  color:#53292b;
  gap: 15px;
}

.navbar2 .navBottom{
  display: flex;
  background:#53292b; 
  height: 6rem;
}
.navbar2 .upper-menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
}

.navbar2 .nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}
/* Menu Items */
.nav .upper-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav .upper-menu .menu-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  height: 100%;
}

.nav .upper-menu .menu-item:hover {
  border-bottom: solid 2px #c0b98b;
  color: #dbd7bc;
  cursor: pointer;
}


.nav .upper-menu .menu-item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 200;
  transition: 0.3s ease;
}

.nav .upper-menu .menu-item:hover  a{
  color: #dbd7bc;
}

/* Logo */
.nav img {
  height: 120%;
}

/* Dropdown Styling */
.menu-item-has-children {
  position: relative;
}

.menu-item-has-children .sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #350a0d;
  border-top: 2px solid #c0b98b;
  padding: 10px;
  list-style: none;
  display: none;
  width: 180px;
  margin-top: 2px;
  margin: 0 auto;
}

.menu-item-has-children:hover .sub-menu {
  display: block;
}

.menu-item-has-children .sub-menu .menu-item {
  padding: 8px 15px;
}

.menu-item-has-children .sub-menu .menu-item a {
  color: white;
  font-size: 14px;
}

/* Default: Hide the mobile dropdown */
/* Default: Hide the mobile dropdown */
.mobile-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #53292b;
  z-index: 998;
  padding: 10px 0;
  opacity: 0;
  transform: scaleY(0); /* Initially collapsed */
  transform-origin: top; /* Ensures smooth expanding from the top */
  transition: transform 0.2s ease-in, opacity 0.2s ease-out;
}

/* When active, apply the transition */
.mobile-dropdown.active {
  display: block;
  opacity: 0.9;
  transform: scaleY(1); /* Expands smoothly */
  background: #53292b;
}


/* Mobile Responsiveness */
@media (max-width: 1024px) {
  .navbar2 .navTop a{
    display: none;
  }
}

@media (max-width: 1024px) {


  .nav .upper-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #53292b;
    display: none;
  }

}


/* Mobile Dropdown Menu Items */
.mobile-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu .menu-item {
  padding: 10px;
}

.mobile-menu .menu-item a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  display: block;
}

/* Ensure all links appear inside the mobile dropdown */
.mobile-menu .menu-item:hover {
  background: #c0b98b;
}

/* Show the mobile logo only on smaller screens */
.mobileLogo {
  display: none;
  max-height: 120%;
  cursor: pointer;
  z-index: 999;
}

/* Hide big logo in mobile view */
@media (max-width: 1024px) {
  .bigLogo {
      display: none;
  }

  .mobileLogo {
      display: block;
  }
}
/*---------------===========NAVBAR================-----------------*/



/*---------------============================Section 1==========================----------------------*/
#intro{
}

/*-------------------------------------------------- Animated Pics--------------------------------------------*/
.home-top{
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem;
  max-width: 1200px;
  height: 401px;
  position: relative;
  justify-content: space-between;
  border-bottom: solid 1px #53292b;
}

/*------------------------------------------------- Animated Pics---------------------------------------------------*/

.anime-row{
  display: flex;
  justify-content: space-between;
  font-family: poppins;
  height: 100%;
}

.anime-row .col-1{
  display: flex;
  max-width: 1200px;
  height: 400px;
  position: relative;
  margin: auto;
}


.anime-row .col-1 img{
  width: 100%;
  height: 100%; 
  object-fit: contain;
}

.elements2{
  left: 0;
  top: 0;
  animation: move 5.5s linear infinite;
}

@keyframes move{
  0%{
      transform: translate(-90px, 0px);
  }
  50%{
      transform: translate(90px, 0px);
  }
  100%{
      transform: translate(-90px, 0px);
  }
  
} 

.elements1{
  position: absolute;
  left: 0;
  top: 0;
  animation: move1 5.5s linear infinite;
}

@keyframes move1{
  0%{
      transform: translate(90px, 0px);
  }
  50%{
      transform: translate(-90px, 0px);
  }
  100%{
      transform: translate(90px, 0px);
  }
  
} 

.elements3{
  position: absolute;
  left: 0;
  top: 0;
  animation: move2 3.5s linear infinite;
}

@keyframes move2{
  0%{
      transform: translate(0px, 0px);
  }
  60%{
      transform: translate(0px, 0px);
  }
  100%{
      transform: translate(0px, 0px);
  }
  
} 



/*==========================================text animation=====================================================*/

.mdl2{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mdl{
  display: block;
  margin: auto;
}

.mdl h2{
  position: relative;
  font-size: 60px;
  color: #ffffff;
  font-family: poppins;
  margin-left: 10%;
}
.mdl3 h3{
  position: relative;
  font-size: 60px;
  font-weight: 300;
  color: #53292b;
  font-family: poppins;
  margin-left: 10%;
}


.mdl2 p{
  position: relative;
  font-size: 20px;
  font-weight: 200;
  font-family: poppins;
  margin-left: 10%;
  text-align: justify;
}


.mdl h2::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #53292b;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #53292b;
  overflow: hidden;
  animation: anim 3s linear infinite;
}

@keyframes anim
{
  0%,10%,100%
  {
      width: 0;
  }
  70%, 90% 
  {
      width: 100%;
  }
  
}


@media screen and (max-width: 1200px){

  .home-top {
      display: grid;
      gap: 0rem;
      grid-template-columns: repeat(1, 1fr);
      padding-block: 2rem;
      width: min(95%, 70rem);
    }

    .mdl h2{
      position: relative;
      font-size: 60px;
      color: #ffffff;
      font-family: poppins;
      margin-left: 0px;
    }

    .mdl3 h3{
      position: relative;
      font-size: 50px;
      font-weight: 300;
      color: #53292b;
      font-family: poppins;
      margin-left: 0px;
    }
    
    .mdl2 p{
      position: relative;
      font-size: 20px;
      color: #252839;
      text-transform: uppercase;
      margin-left: 0px;
    }

    .anime-row{
      display:none;
      justify-content: space-between;
      box-sizing: border-box;
    }
    
    .anime-row .col-1{
      min-width: 300px;
      margin-bottom: 30px;
      position:absolute;
      margin: auto;
      box-sizing: border-box;
    }
    
    
    .anime-row .col-1 img{
      width: 100%;
    }

    .elements{
      position: block;
    }

    .elements2{
      position: block;
    }
    .elements3{
      position: block;
    }
}


.mdl2{
  box-sizing: border-box;
  text-align: justify;
}


.mdl{
  display: flex;
  margin: auto;
}
/*==========================================text animation=====================================================*/

/*-----------------------=======================3 cards====================-*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Responsive columns */
  gap: 20px; /* Space between grid items */
  max-width: 1200px;
  margin: 5% auto;
  padding: 10px;
  justify-content: center;
}

.three-col-bg {
  height: 128px;
  width: 128px;
  background-color: #ffffff;
  position: absolute;
  top: -80px;
  right: -80px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.three-col {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  background-color: #53292b;
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 10px;
  padding: 30px 20px;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: relative;
  color: #fff;
  text-align: justify;
}

.three-col:hover {
  color: #141202;
  border: solid 1px #53292b;
}

.three-col-cov {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  height: 100%;
}

.three-col:hover .three-col-bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.three-col-text p{
  font-weight: 100;
  text-align:justify;
}


.cardHeading h2{
  font-size: 30px;
  font-weight: 200;
  
}
.cardHeading2{
  display: flex;
  justify-content: center;
  margin: 15px;
}

.cardHeading2 h2{
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}


.buttom{
  height: 40px;
  align-self: flex-end;
}

.buttom .button{
  height: 100%;
  width: 80px;
  cursor: pointer;
  font-size: 15px;
}

.buttom .button:hover{
  color: #fff;
  background: #53292b;
}


@media screen and (max-width: 1024px){
.three-col:hover {
  color: #ffffff;
  border: none;
}
.three-col:hover .three-col-bg {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.buttom .button:hover{
  color: #0a0a0a;
  background: #cac5c5;
}

}

/*-----------------------=======================3 cards====================-*/

/*-----------------------=======================Door Tabs====================-----------*/
.doorWrapper {
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.doorWrapper h2{
  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3%;
}

.doorWrapper p{
  font-weight: 100;
}


.buttonWrapper {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.buttonWrapper .tab-button {
  letter-spacing: 3px;
  border: none;
  padding: 10px;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

.tab-button:hover {
  color: #53292b;
  border-bottom: solid 1px #53292b;
}

.tab-button.active {
  background-color: white;
  color: #53292b;
  border-bottom: solid 1px #53292b;
}

.active {
  background-color: white;
}



.doorContent {
  display: none;
  text-align: center;
  padding: 10px 10px;
}

.doorContent.active {
  display: block;
}

/*-----------------------=======================Door Tabs====================-----------*/

/*-----------------------=======================Footer====================-----------*/
/* Footer Styling */
.footer {
  background-color: #53292b; /* Equivalent to bg-secondary */
  width: 100%;
  margin-top: 10px;
  text-align: left;
  padding-bottom: 10px;
}
 .footer p{
  font-weight: 200;
  color: white;
 }
 .footer h2{
  font-weight: 200;
 }

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 16px;
  border-bottom: 1px solid #dbd7bc;
}

/* Responsive for larger screens */
@media (min-width: 768px) {
  .footer-container {
      flex-direction: row;
      justify-content: center;
      gap: 80px;
      padding: 40px 72px;
  }
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .footer-section {
      align-items: flex-start;
  }
}

/* Footer Logo */
.footer-logo {
  width: 96px;
  height: auto;
}
.footer-text {
  text-align: center;
}

@media (min-width: 768px) {
  .footer-text {
      text-align: left;
  }
}

/* Footer Links */
.footer-heading {
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.footer-links{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 200;
}

@media (min-width: 768px) {
  .footer-links {
      flex-direction: column;
      gap: 6px;
  }
}

.footer-links a {
  text-decoration: none;
  color: white;
}

/* Newsletter Section */
.footer-newsletter {
  display: none;
}

@media (min-width: 768px) {
  .footer-newsletter {
      display: flex;
  }
}

.newsletter-form {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 10px;
}

.newsletter-input {
  border: 1px solid rgba(128, 128, 128, 0.3);
  background-color: #333;
  color: white;
  padding: 6px;
  width: 160px;
  border-radius: 4px;
  font-size: 14px;
}

.newsletter-button {
  background-color: #dbd7bc; /* Secondary button color */
  color: black;
  padding: 6px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Footer Copyright */
.footer-copyright {
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  color: white;
}

@media (min-width: 768px) {
  .footer-copyright {
      font-size: 14px;
  }
}


/*-----------------------=======================Footer====================-----------*/

